:root{ /*This sets global variables*/
    --text-color: #2e2e2e;
    --link-color: #0066cc;
    --background-color: #f7f9fb;
}
*{ /*This affects all elements*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto Flex', sans-serif;
    background-color: var(--background-color);
}
a{ /*links*/
    color: var(--link-color);
    text-decoration: none; /*This ,makes links not underlined*/
}

/*NAV BAR*/
nav{
    display: flex; /* makes all of the links under nav displayed horizontally */
    justify-content: space-between; /* as expected puts space between left and right classes*/
    align-items: center; /*keeps them aligned equally to center*/

    padding: 0 50px; /*first value is space from y axis, second is space from x axis
    So this creates 50px of space from the x axis for both left and right*/
    height: 80px;
}

nav .left a{ /*We are targeting the left link*/
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600; /*adjusts the boldness essentially of text*/
}

nav .right a{ /*We are targeting the right link*/
    color: var(--text-color);
    margin: 0 10px; /*Creates space between links but only on x axis not y*/
}

nav .right a:last-child{
    color: var(--background-color);
    background-color: var(--text-color);
    /*For the above we are inverting the colors to make it stand out*/
    padding: 5px 15px; 
    border-radius: 5px; /*Creates rounded cornerds*/
}

/*Section 1: Hero*/

.hero_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px; /*Lines up bio with above*/
    margin: 50px 0; /*Creates space between nav bar and hero sectiom */
    margin-bottom: 100px;
    gap: 40px; /* Created a gap between pictture and description */
}

.hero_section .text{
    flex: 5; /* text will take up 5/7 space on the screen*/
}

.hero_section .text h2{
    font-size: 45px;
}

.hero_section .text .links{
    margin-top: 25px; /*Separates links from description above*/
}

.hero_section .text .links a{
    display: inline-block; /* This is keeping the icons and their descriptions together regardless of screen size */
    padding: 5px 10px;
    border: 2px solid var(--link-color); /*Creates a thing border around link*/
    border-radius: 5px; /*Makes border rounded*/
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
}

.hero_section .text .links a:hover{ /*When links are hovererd over, color is inverted*/
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.hero_section .headshot{
    flex: 2; /*Headshot will takeup 2/7 of screen*/
    display: flex;
    justify-content: right; /*Keeps image aligned with links above*/
}

.hero_section .headshot img{
    width: 350px;
    border-radius: 25%; /*Makes image rounded */
}

/*SECTION 2: SKILLS*/

.skills_section{
    padding: 0 50px;
    margin-bottom: 100px;
}

.skills_section h2{
    text-align: center;
    font-size: 35px;
}

.skills_section .text{
    text-align: center;
    margin-bottom: 20px;
}

.skills_section .cells{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* When screen width gets smaller they wrap around*/
}

.skills_section .cells .cell{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 200px;
    padding: 10px 20px;
    margin: 10px;
    border: 1.5px solid lightgrey;
    border-radius: 5px;;
}

.skills_section .cells .cell img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;
}

.skills_section .cells .cell span{
    font-size: 18px;
}

/*SECTION 3: PROJECTS*/
.project_section{
    padding: 0 50px;
    margin-bottom: 100px;
    text-align: center;
}

.project_section h2{
    font-size: 35px;
}

.project_section .group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project_section .group .image{
    text-align: center;
}

.project_section .group .image img{
    width: 400px;
    height:300px;
    border-radius: 2px;
    display: block;
    margin: 0 auto;
    
}

/*Section 4: Contact*/

.contact_section{
    padding: 0 50px;
    margin-bottom: 100px;
}

.contact_section h2{
    font-size: 35px;
}

.contact_section .group{
    display: flex;
    gap: 50px;
}

.contact_section .group .text{
    flex: 3;
    margin-top: 20px;
}

.contact_section .group form{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact_section .group form input textarea{
    font-family: 'Roboto Flex', sans-serif;
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
}

.contact_section .group form button{
    font-size: 16px;
    font-family: 'Roboto Flex', sans-serif;
    color: white;
    background-color: var(--link-color);
    border: none;
    height: 50px;
    cursor: pointer;
    transition: .1s;
}

.contact_section .group form button:hover{
    filter: brightness(.9);
}

@media(max-width: 850px){
    /*SECTION 1: HERO*/
    .hero_section .text h2{
        font-size: 35px;
    }
}

@media(max-width: 740px){
    
    /*SECTION 1: HERO*/
    .hero_section{
        flex-direction: column-reverse;
    }

    .hero_section .headshot img{
        width: 300px;
    }

    /*SECTION 4: CONTACT*/
    .contact_section .group{
        flex-direction: column;
    }
}

@media(max-width: 600px){/*This is similar to an IF STATEMENT
    The following (inside curly brackets) will only occur IF 
    screen width is 600px or smaller AKA viewing on a phone*/
   
    /*NAV BAR*/
    nav{
        padding: 0 20px; /* Makes padding less on smaller screen*/
    }

    nav .right a{
        font-size: 22px; /* Increases font size on smaller screen*/
    }

    nav .right a:last-child{ /*Changes email to same as other icons on smaller screens*/
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }
    nav .right a span{ /* Removes descriptions only leaving icons on smaller screens*/
        display: none;
    }

    /*SECTION 1: HERO*/

    .hero_section{
        padding: 0 20px;
    }

    .hero_section .text h2{
        font-size: 30px;
    }

    /*SECTION 2: SKILLS*/
    .skills_section{
        padding: 0 20px;
    }

    .skills_section .cells .cell span{
        font-size: 16px;
    }
}